

:root {
    --primary-color:#44d48e;
    --secondary-color: #08becf;
    --off-white: #ECFDF5;

}

body{
    background-color: var(--off-white);

}

nav{
    text-align: center;
}
nav img {
    max-width: 190px;
    width: 30%;

}

.carousel {
    overflow: hidden;
    /* width: 100%; */
    max-width: 700px;
    margin: auto;
}

.carousel_image{
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;

    animation: slider 12s steps(4) infinite;
}

.carousel_image img {
    width: 25%;
    float: left;
    
}

@keyframes slider {
    0% {
        left: 0;
    }

    100%{
        left: -400%;
    }
    
}


