/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;700&family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color:#44d48e;
    --secondary-color: #08becf;
    --off-white: #ECFDF5;

}

body{
    background-color: var(--off-white);

    /* font-family: 'Raleway', sans-serif; */

    font-family: 'Crimson Pro', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.flexone{
flex: 2;
/* background-color: yellowgreen; */
color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
    .flexone {
     flex: 1;
    }
    .flexfour p{
        font-size: 10px;
    }

}

.flexone i{
    margin-left: 15px;
}

.imageLogo{
    max-width: 120px;
    width: 8%;
    flex: 1;
    margin-right: 10px;

}


.flexfour{
    flex: 2;
    text-align: right;
    
    /* background-color: yellow; */
   
}

.flexfour p{
margin: 15px; 
text-shadow: 1px 1px 2px var(--primary-color);
color: var(--secondary-color);

}



.top-bar{
        height: 8px;
        background-color: var(--primary-color);

}

.carousel {
    overflow: hidden;
    /* width: 100%; */
    max-width: 700px;
    margin: auto;
    /* margin-bottom: 0; */
}

.carousel_image{
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;

    animation: slider 12s steps(4) infinite;
}

.carousel_image img {
    width: 25%;
    float: left;
    
}

@keyframes slider {
    0% {
        left: 0;
    }

    100%{
        left: -400%;
    }   
}

/* donate button */

.donate{
    margin-top: 0;
    padding: 10px 0px;
    background-color: var(--secondary-color);
    color: white;

}


.donate h2{
    margin-top: 0;
    margin-left: 5px;
}
.donate p{
    margin-left: 5px;
}

.donate a{
    background-color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    color: var(--secondary-color);
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    font-family: "montserrat";
    border: 1px solid var(--primary-color);
    /* border: 1px solid white; */
    transition: .2s;

}

.donate a:hover{
    background-color: var(--primary-color);
    color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .donate a:hover, .donate a:active{
        background-color: var(--primary-color);
    color: whitesmoke;
    }


/************ about us ****************/
.aboutUs {
        margin: 10px 10px;
    /* border: 1px solid black; */

}

.aboutUs h2{
    font-size: 26px;
}

h2{

    margin-bottom: 0;
}

.aboutUs p{
    color: var(--primary-color);
    margin-top: 2px;
    
}

p{
    margin-top: 0;
}

h3{
    margin-bottom: 0;
}

.upcoming-events{
    /* display: flex; */
    text-align: center;


}

.upcoming-events div img{
    width: 70%;
    border-radius: 10px;
}
